.all-products {
  padding-top: 83px;
  text-align: center;
}

.all-products__title {
  @include font-header;
  @include font(16px, 20px);
}

.all-products__description {
  @include font(12px, 16px);
}

.all-products__link {
  @include clear-margin(25px);
  text-align: center;
}
