.catalog__title {
  @include font-header;
  @include font(36px, 60px);
  @include clear-margin(0);

  padding: 21px 0 25px 22px;
  text-transform: none;
  border-bottom: 1px solid $line-grey;
}

.catalog__list {
  @include clear-intervals;
}

.catalog__item {
  padding: 0 20px;
  border-bottom: 1px solid $line-grey;
}
