.catalog__title {
  @include font-header;
  @include font(36px, 60px);
  @include clear-margin(0);

  padding: 21px 0 25px 22px;
  text-transform: none;
  border-bottom: 1px solid $line-grey;
}

.catalog__list {
  @include clear-intervals;
}

.catalog__item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  padding: 0 20px;
  border-bottom: 1px solid $line-grey;
}

@media (min-width: $tablet-width) {
  .catalog__title {
    @include font(60px, 60px);

    margin-bottom: 156px;
    padding: 0 30px;

    border-bottom: 0;
  }

  .catalog__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 30px;
  }

  .catalog__item {
    flex-direction: column;

    box-sizing: border-box;
    width: 324px;
    min-height: 431px;
    margin-bottom: 140px;
    padding: 0 37px;
  }
}

@media (min-width: $desktop-width) {
  .catalog {
    padding: 0 110px;
  }

  .catalog__title {
    padding: 0;
  }

  .catalog__list {
    padding: 0;
  }

  .catalog__item {
    width: 245px;
    padding: 0;
    align-items: center;
  }
}
