.choice-programm__wrapper {
  padding: 15px 20px 0;
}

.choice-programm__title {
  @include font-header;
  @include font(36px, 60px);
  @include clear-margin(25px);

  text-transform: none;
}

.choice-programm__slogan {
  @include font-header;
  @include font(14px, 18px);
  @include clear-margin(39px);

  padding: 0;
  padding-right: 50px;
}

@media (min-width: $tablet-width) {
  .choice-programm__wrapper {
    padding: 0 30px;
  }

  .choice-programm__title {
    @include font(60px, 60px);
    margin-bottom: 55px;
  }

  .choice-programm__slogan {
    @include font(20px, 30px);

    width: 50%;
    margin-bottom: 65px;
    padding-left: 40px;
  }
}

@media (min-width: $desktop-width) {
  .choice-programm__wrapper {
    padding: 16px 40px 0;
  }

  .choice-programm__slogan {
    width: 30%;
    margin-bottom: 68px;
    padding: 0;
  }
}
