.choice-programm {
  padding: 30px 20px 0;
}

.choice-programm__title {
  @include font-header;
  @include font(36px, 60px);
  @include clear-margin(35px);

  text-transform: none;
}

.choice-programm__slogan {
  @include font-header;
  @include font(14px, 18px);
  @include clear-margin(39px);

  padding: 0;
  padding-right: 50px;
}

@media (min-width: $tablet-width) {
  .choice-programm {
    padding: 0 32px;
  }

  .choice-programm__title {
    @include font(60px, 60px);
  }

  .choice-programm__slogan {
    @include font(20px, 30px);

    width: 50%;
    margin-bottom: 69px;
    padding-left: 38px;
  }

  .choice-programm__form {
    padding: 0 28px 0 39px;
  }
}

@media (min-width: $desktop-width) {
  .choice-programm {
    padding: 0 40px;
  }

  .choice-programm__slogan {
    width: 30%;
    padding: 0;
  }

  .choice-programm__form {
    padding: 0;
  }
}
