.contacts {
  background-color: $white;

  &--grey {
    background-color: $contacts-grey;
  }
}

.contacts__wrapper {
  box-sizing: border-box;
  display: flex;
  padding: 30px 20px 26px;
}

.contacts__title {
  @include font-header;
  @include font(16px, 20px);
  @include clear-margin(0);
}

.contacts__address {
  @include font(14px, 20px);
  font-style: normal;
}

.contacts__map {
  display: block;
  width: 100%;
}
