.copyright {
  padding: 17px 0 20px;
}

.copyright__link {
  @include font(16px, 16px);

  display: flex;
  justify-content: space-between;
  align-items: center;

  text-decoration: none;
  color: $text-grey;
  cursor: pointer;

  &:hover .copyright__image,
  &:focus .copyright__image,
  &:active .copyright__image {
    fill: $bg-green;
  }

  &:active {
    opacity: 30%;
  }
}

.copyright__image {
  fill: $logo-grey;
  margin-right: -8px;
}

@media (min-width: $tablet-width) {
  .copyright {
    min-width: 164px;
    box-sizing: border-box;
    max-width: 100%;
  }

  .copyright__image {
    margin-top: 4px;
  }
}
