.copyright {
  padding: 31px 0;
}

.copyright__link {
  @include font(16px, 16px);

  display: flex;
  justify-content: space-around;
  align-items: center;

  text-decoration: none;
  color: $text-grey;
}

.copyright__image {
  fill: $logo-grey;
}
