.extra-offer {
  @include clear-margin(35px);

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  min-height: 289px;
  box-sizing: border-box;
  padding: 65px 55px 43px;

  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/gift-photo-mobile@2x.jpg");
  }

  &::before {
    position: absolute;
    top: 64px;
    left: 50%;

    width: 56px;
    height: 61px;

    content: url("../img/icon-gift.svg");
    transform: translateX(-50%);
  }
}

.extra-offer__text {
  @include font(16px, 20px);
  @include clear-margin(0);

  max-width: 100%;
  box-sizing: border-box;

  text-align: center;
  color: $white;

  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    padding-top: 120px;
  }
}

@media (min-width: $tablet-width) {
  .extra-offer {
    min-height: 200px;
    width: 708px;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 76px;
    padding: 55px 125px 65px 90px;

    background-image: url("../img/gift-photo-tablet@1x.jpg");
    background-size: cover;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-tablet@2x.jpg");
    }

    &::before {
      left: 119px;
    }
  }

  .extra-offer__text {
    width: 161px;
    padding-top: 14px;
    text-align: left;
  }
}

@media (min-width: $desktop-width) {
  .extra-offer {
    width: 245px;
    min-height: 289px;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 0;
    padding: 65px 42px 43px;

    background-image: url("../img/gift-photo-desktop@1x.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/gift-photo-desktop@2x.jpg");
    }

    &::before {
      left: 123px;
    }
  }

  .extra-offer__text {
    text-align: center;
  }
}
