.extra-item {
  @include font(14px, 14px);
}

.extra-item__value {
  @include clear-margin(0);
}

@media (min-width: $tablet-width) {
  .extra-item {
    @include font(16px, 20px);
  }

  .extra-item__value {
    margin-left: 51px;
  }
}

@media (min-width: $desktop-width) {
  .extra-item__value {
    margin: 0;
    margin-right: 12px;
  }
}
