.features {
  padding: 0 20px;
}

.features__title {
  @include font-header;
  @include font(36px, 60px);
  @include clear-margin(35px);

  text-transform: none;
}

.features__list {
  @include clear-intervals;

  padding-left: 80px;
}

.features__item {
  @include clear-margin(20px);

  position: relative;
  min-height: 60px;

  &--icon4 {
    margin-bottom: 50px;
  }

  &::before {
    @include psevdo(60px, 60px);

    left: -80px;

    background-color: $bg-green;
    background-position: center;
    background-repeat: no-repeat;
  }

  &--icon1::before {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--icon2::before {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--icon3::before {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--icon4::before {
    background-image: url("../img/advantage-clock@1x.png");
  }
}

@media (min-width: $tablet-width) {
  .features {
    padding: 0 30px;
  }

  .features__list {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    padding-left: 0;
  }

  .features__item {
    @include font(16px, 24px);

    width: 35%;
    min-height: 230px;
    display: flex;
    align-items: center;
    margin-right: 15%;
    padding-top: 30px;

    &--icon4 {
      margin-bottom: 20px;
    }

    &::before {
      left: 0;
      top: 0;
    }

    &::after {
      @include psevdo(120px, 230px);
      @include font-header;
      @include font(281px, 281px);

      top: -40px;
      right: -20px;
      z-index: -1;

      color: $bg-grey;
    }

    &--icon1::after {
      content: "1";
    }

    &--icon2::after {
      content: "2";
    }

    &--icon3::after {
      content: "3";
    }

    &--icon4::after {
      content: "4";
    }
  }
}

@media (min-width: $desktop-width) {
  .features {
    padding: 0 110px;
  }

  .features__title {
    @include font(60px, 60px);

    margin-bottom: 63px;
  }

  .features__list {
    flex-wrap: nowrap;
    justify-content: space-between;
  }

  .features__item {
    width: 25%;

    &:not(:last-child) {
      margin-right: 80px;
    }

    &:last-child {
      margin-right: 0;
    }

    &::before {
      width: 80px;
      height: 80px;
    }
  }
}
