.footer {
  padding: 0 20px;
  background-color: $bg-grey;
}

.footer__logo-link {
  display: block;
  padding: 39px 0 31px 0;

  text-align: center;

  border-bottom: 1px solid $line-grey;
}

.footer__social {
  border-bottom: 1px solid $line-grey;
}

@media (min-width: $tablet-width) {
  .footer {
    min-height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
  }

  .footer__logo-link {
    border-bottom: none;
  }

  .footer__social {
    width: 33%;
    border-bottom: none;
  }
}
