.footer {
  padding: 0 20px;
  background-color: $bg-grey;
}

.footer__logo-link {
  display: block;
  padding: 39px 0 31px 0;

  text-align: center;

  border-bottom: 1px solid $line-grey;
}

.footer__social {
  border-bottom: 1px solid $line-grey;
}

.footer__copyright {
  padding: 31px 0;
}

.copyright__link {
  @include font(16px, 16px);

  text-decoration: none;
  color: $text-grey;
}
