.header {
  background-color: $white;
  border-bottom: 1px solid $line-grey;
}

.header__logo-image {
  width: 191px;
  height: 39px;
  padding: 11px 5px 11px 20px;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 53px;
    padding: 24px 31px 0 29px;

    border-bottom: none;
  }

  .header__logo {
    width: 174px;
    height: auto;
  }

  .header__logo-image {
    width: 174px;
    height: 59px;
    padding: 0;

    &:hover,
    &:focus {
      opacity: 0.8;
    }

    &:active {
      opacity: 0.6;
    }
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 53px 40px 0;
  }

  .header__logo {
    width: 300px;
  }

  .header__logo-image {
    width: 203px;
    height: 60px;
  }
}
