.header {
  background-color: $white;
  border-bottom: 1px solid $line-grey;
}

.header__logo-image {
  width: 191px;
  height: 39px;
  padding: 11px 5px 15px 20px;
}

@media (min-width: $tablet-width) {
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 68px;
    padding: 24px 31px 0 29px;

    border-bottom: none;
  }

  .header__logo {
    width: 40%;
  }

  .header__logo-image {
    width: 174px;
    height: 59px;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .header {
    padding: 53px 110px 0 40px;
  }

  .header__logo-image {
    width: 203px;
    height: 60px;
  }
}
