.indicator {
  display: flex;
  justify-content: space-around;
}

.indicator__button {
  @include font-header;
  @include font(16px, 20px);

  margin: 35px 0 38px 0;
  border: none;
  cursor: pointer;
}
