.intro {
  margin: 0;
  padding: 30px 20px 0;

  text-align: center;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}

.intro__title {
  @include font-header;
  @include font(36px, 36px);
  @include clear-margin(20px);

  color: $white;
  text-transform: none;
}

.intro__slogan {
  @include font-header;
  @include font(14px, 14px);
  @include clear-margin(29px);

  color: $white;
}

.intro__link {
  @include clear-margin(22px);
  width: 100%;
}
