.intro {
  position: relative;
  margin: 0;

  text-align: center;
}

.intro__wrapper {
  min-height: 278px;
  margin-bottom: 135px;
  padding: 27px 20px 0;

  background-color: $bg-green;
  background-image: url("../img/index-background-mobile@1x.jpg");
  background-size: cover;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/index-background-mobile@2x.jpg");
  }
}

.intro__title {
  @include font-header;
  @include font(36px, 36px);
  @include clear-margin(25px);

  color: $white;
  text-transform: none;
}

.intro__slogan {
  @include font-header;
  @include font(14px, 14px);
  @include clear-margin(29px);

  color: $white;
}

.intro__image {
  position: absolute;
  bottom: 3px;
  left: 50%;
  width: 280px;
  height: 270px;

  transform: translate(-50%, -15%);
}

.intro__link {
  margin: 0 20px 22px;
}

@media (min-width: $tablet-width) {
  .intro {
    min-height: 800px;
    margin-bottom: 10px;
    padding-left: 117px;
  }

  .intro__wrapper {
    min-height: 180px;
    width: 65%;

    padding: 0;
    margin-bottom: 48px;
    text-align: left;

    background: none;
  }

  .intro__title {
    @include font(60px, 60px);

    margin-bottom: 41px;
    color: $head-grey;
  }

  .intro__slogan {
    @include font(20px, 20px);

    margin-bottom: 0;
    color: $head-grey;
  }

  .intro__link {
    @include font(20px, 20px);

    width: 245px;
    margin: 0;
    padding: 17px 5px 15px;
  }

  .intro__image {
    bottom: -10px;
    z-index: -1;
    width: 709px;
    height: 609px;

    transform: translateX(-50%);
  }
}

@media (min-width: $desktop-width) {
  .intro {
    min-height: 545px;
    padding-left: 120px;
    padding-top: 52px;
  }

  .intro__wrapper {
    width: 43%;
    margin-bottom: 53px;
  }

  .intro__image {
    bottom: 125px;
    left: 59%;
    z-index: 0;
    width: 552px;
    height: 499px;
  }

  .intro__link {
    width: 245px;
  }
}
