.live-example {
  background-color: $bg-grey;
}

.live-example__wrapper {
  box-sizing: border-box;
}

.live-example__wrapper-text {
  padding: 16px 34px 91px 20px;
}

.live-example__wrapper-visual {
  padding-bottom: 37px;
}

.live-example__title {
  @include font-header;
  @include font(36px, 60px);
  @include clear-margin(23px);

  text-transform: none;
}

.live-example__text {
  @include clear-margin(27px);
}

.live-example__list {
  @include clear-margin(96px);

  position: relative;
}

.live-example__price {
  @include font-header;
  @include font(14px, 20px);
  @include clear-margin(0);

  position: absolute;
  top: 88px;
  left: 50%;

  display: flex;
  justify-content: space-between;
  width: 187px;

  text-align: center;

  transform: translateX(-50%);
}

.live-example__value {
  margin: 0;
}

.live-example__image {
  display: block;
  margin: 0 auto 35px;
}

@media (min-width: $tablet-width) {
  .live-example {
    border-top: 1px solid $line-grey;
    background-color: $bg-grey;
    background-image: linear-gradient($white 619px, transparent 619px), linear-gradient(to right, $contacts-grey 50%, $became-grey 50%);
  }

  .live-example__wrapper {
    width: 768px;
    margin: 0 auto;
    padding: 43px 31px 40px;
  }

  .live-example__wrapper-text {
    padding: 0;
    margin-bottom: 87px;
  }

  .live-example__title {
    @include font(60px, 60px);
    margin-bottom: 64px;
  }

  .live-example__text {
    @include font(16px, 24px);
    margin-bottom: 53px;
    padding-right: 30px;
  }

  .live-example__price {
    @include font(20px, 20px);

    top: 12px;
    left: 612px;

    flex-direction: column;
    height: 47px;

    text-align: right;
  }

  .live-example__image {
    width: 690px;
    height: auto;
    margin-bottom: 16px;
  }
}

@media (min-width: $desktop-width) {
  .live-example {
    border-top: none;
    background-color: $bg-grey;
    background-image: linear-gradient($white 172px, transparent 172px), linear-gradient(to right, $contacts-grey 50%, $became-grey 50%);
  }

  .live-example__wrapper {
    position: relative;

    width: 1300px;
    margin: 0 auto;
    padding: 37px 40px 68px;
    display: flex;
    justify-content: space-between;

    background-color: $bg-grey;
    background-image: linear-gradient($white 172px, transparent 172px), linear-gradient(to right, $contacts-grey 974px, $became-grey 974px);
  }

  .live-example__wrapper-text {
    width: 461px;
  }

  .live-example__title {
    margin-bottom: 146px;
  }

  .live-example__text {
    margin-bottom: 68px;
  }

  .live-example__price {
    left: 165px;
    top: 132px;
    flex-direction: row;
    width: 330px;

    text-align: center;
  }

  .live-example__wrapper-visual {
    position: relative;

    min-width: 690px;
    padding-bottom: 0;
  }

  .live-example__image {
    position: absolute;
    top: -54px;
    right: -40px;

    margin-bottom: 38px;
  }
}
