.main-nav {
  @include font(20px, 20px);

  position: relative;
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 500;
  text-align: center;
  text-transform: uppercase;
}

.main-nav__menu {
  @include clear-intervals;
}

.main-nav__item {
  &:hover,
  &:focus {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__link {
  display: block;
  padding: 24px 5px;

  text-decoration: none;
  color: $head-grey;
  border-top: 1px solid $line-grey;
}

.main-nav__toggle {
  position: absolute;
  top: -44px;
  right: 20px;
  z-index: 2;

  display: block;
  width: 25px;
  height: 19px;

  background-color: $white;

  cursor: pointer;
  border: none;
}

.main-nav--closed .main-nav__toggle::before {
  content: "";

  position: absolute;
  top: 0;
  right: 0;

  width: 25px;
  height: 3px;

  background-color: $extra-grey;
  box-shadow: 0 8px 0 0 $extra-grey, 0 16px 0 0 $extra-grey;
}

.main-nav--opened .main-nav__toggle {
  top: -44px;
  right: 20px;

  width: 19px;

  &::before,
  &::after {
    content: "";

    position: absolute;
    top: 8px;
    right: -4px;

    width: 25px;
    height: 2px;

    background-color: $extra-grey;
  }

  &::before {
    transform: rotate(45deg);
    box-shadow: none;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &:active::before,
  &:active::after {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

@media (max-width: $mobile-width-only) {
  .main-nav--closed .main-nav__item {
    display: none;
  }

  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item {
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .main-nav {
    width: 62%;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 18px;
  }

  .main-nav__item {
    position: relative;
    margin-bottom: 20px;

    &--active::after {
      content: "";
      position: absolute;
      top: 31px;
      left: 0;
      height: 2px;
      width: 100%;
      background-color: $bg-green;
    }
  }

  .main-nav__link {
    @include font-header;
    @include font(18px, 25px);

    padding: 0;
    color: $extra-grey;
    border-top: none;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    z-index: 1;
    width: 39%;
  }

  .main-nav__item--active::after {
    top: 33px;
  }

  .main-nav__menu--white {
    .main-nav__item--active::after {
      background-color: $white;
    }

    .main-nav__link {
      color: $white;
    }
  }

  .main-nav__link {
    @include font(20px, 25px);
  }
}
