.product-type {
  padding: 0 20px;
}

.product-type__list {
  @include clear-intervals;
}

.product-type__item {
  @include clear-margin(20px);

  padding: 39px 20px 0 20px;
  background-color: $bg-grey;
}

.product-type__title {
  @include font-header;
  @include font(24px, 37px);
  @include clear-margin(35px);

  position: relative;
  padding-left: 70px;
}

.product-type__title::before {
  @include psevdo(50px, 50px);

  top: 0;
  left: 0;

  background-color: $bg-green;
  border-radius: 50%;
}

.product-type__title--slim::after {
  @include psevdo(35px, 50px);

  top: -5px;
  left: 9px;

  background-image: url("../img/icon-cat-slim.svg");
  background-size: cover;
}

.product-type__title--pro::after {
  @include psevdo(67px, 28px);

  top: 10px;
  left: -10px;

  background-image: url("../img/icon-cat-pro.svg");
  background-size: cover;
}

.product-type__description {
  @include clear-margin(24px);
}

.product-type__link {
  position: relative;
  padding: 20px 0 22px 0;

  border-top: 1px solid $line-grey;
}

.product-type__link::after {
  @include psevdo(25px, 12px);

  top: 22px;
  left: 100px;

  background-image: url("../img/icon-right-arrow-long.svg");
  background-size: cover;
}

@media (min-width: $tablet-width) {
  .product-type {
    padding: 0 30px;
  }

  .product-type__item {
    padding: 80px 5px 0 55px;
  }

  .product-type__title {
    @include font(36px, 37px);

    margin-bottom: 26px;
    padding: 0;
  }

  .product-type__title::before {
    width: 200px;
    height: 200px;
    left: 63%;
    z-index: 1;
    top: 0;
  }

  .product-type__title--slim::after {
    width: 141px;
    height: 194px;
    left: 68%;
    top: -10px;
    z-index: 2;
  }

  .product-type__title--pro::after {
    width: 268px;
    height: 113px;
    left: 55%;
    top: 50px;
    z-index: 2;
  }

  .product-type__description {
    @include font(16px, 24px);

    width: 58%;

    margin-bottom: 62px;
  }

  .product-type__link {
    @include font(20px, 20px);

    padding: 0;
    padding-bottom: 62px;

    border-top: none;
  }

  .product-type__link::after {
    top: 5px;
    left: 130px;
  }
}
