.product-card__title {
  @include font-header;
  @include font(16px, 20px);
  @include clear-margin(18px);

  padding-top: 25px;
  padding-right: 45px;
  text-transform: uppercase;
}

.product-card__image {
  width: 50%;
}

.product-card__wrapper {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.product-card__link {
  @include font(16px, 20px);
  @include clear-margin(25px);

  width: 100%;

  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-card {
    flex-direction: column;
    background-color: $contacts-grey;
  }

  .product-card__wrapper {
    width: auto;
    margin: auto 0 20px;
  }

  .product-card__image {
    width: auto;
    display: block;
    margin: -50px auto 0;
  }

  .product-card__title {
    @include font(20px, 20px);

    width: 60%;
    margin-bottom: 28px;
    padding: 0;
    text-align: center;
  }

  .product-card__link {
    margin-bottom: 40px;
  }
}

@media (min-width: $desktop-width) {
  .product-card__link {
    width: 169px;
  }
}
