.product-card__title {
  @include font-header;
  @include font(16px, 20px);
  @include clear-margin(18px);

  padding-top: 25px;
  padding-right: 45px;
  text-transform: uppercase;
}

.product-card__image {
  float: left;
}

.product-card__link {
  @include font(16px, 20px);
  @include clear-margin(25px);

  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-card {
    background-color: $contacts-grey;
  }

  .product-card:nth-child(odd) {
    margin-right: 60px;
  }

  .product-card__title {
    @include font(20px, 20px);

    padding: 0;
    text-align: center;
  }

  .product-card__image {
    position: absolute;
    left: 50%;
    top: -10%;

    transform: translateX(-50%);
  }

  .product-card__link {
    margin-bottom: 40px;
  }
}
