.social__list {
  @include clear-intervals;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 48%;
  min-height: 62px;
  margin: auto;
  padding: 20px 0;
  box-sizing: border-box;
}

.social__item {
  margin-right: 37px;

  &:nth-child(3n) {
    margin-right: 9px;
  }
}

.social__icon {
  fill: $logo-grey;
}

.social__link {
  display: block;

  &:hover .social__icon,
  &:focus .social__icon,
  &:active .social__icon {
    fill: $bg-green;
  }

  &:active {
    opacity: 30%;
  }
}

@media (min-width: $tablet-width) {
  .social__list {
    width: 262px;
    margin: 0 auto;
    padding: 0;
  }

  .social__item {
    margin-top: 5px;
    margin-right: 29px;
  }

  .social__icon {
    &--vkontakte {
      width: 30px;
      height: 16px;
    }

    &--instagram {
      width: 23px;
      height: 23px;
    }

    &--fb {
      width: 14px;
      height: 28px;
    }
  }
}

@media (min-width: $desktop-width) {
  .social__item {
    margin-top: 0;

    &:nth-child(3n) {
      margin-right: -19px;
    }
  }
}
