.button {
  @include font-header();
  min-height: 40px;
  box-sizing: border-box;
  display: block;
  padding: 10px 0;
  text-decoration: none;
  border: none;
  cursor: pointer;

  &--green {
    @include font(14px, 18px);
    color: $white;
    background-color: $bg-green;

    &:hover,
    &:focus {
      background-color: $button-green;
    }

    &:active {
      color: $opacity-white;
    }
  }

  &--grey {
    @include font(16px, 16px);
    padding: 13px 0 11px 0;
    color: $head-grey;
    background-color: $bg-grey;
    border: none;

    &:hover,
    &:focus {
      background-color: $button-grey;
    }

    &:active {
      color: $opacity-text;
    }
  }
}
