html {
  box-sizing: border-box;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  font-family: "Arial", sans-serif;
  text-align: left;
  color: $text-grey;

  background-color: $white;
}

img {
  max-width: 100%;
  height: auto;
}
