@mixin font-header {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  color: $head-grey;
  text-transform: uppercase;
}

@mixin font ($font-size: 14px, $line-height: 18px) {
  font-size: $font-size;
  line-height: $line-height;
}

@mixin clear-intervals {
  padding: 0;
  margin: 0;
  list-style: none;
}

@mixin clear-margin ($margin-bottom) {
  margin: 0;
  margin-bottom: $margin-bottom;
}

@mixin psevdo ($width, $height) {
  position: absolute;
  content: "";
  width: $width;
  height: $height;
}
