$bg-green: #68b738;
$bg-grey: #f2f2f2;
$contacts-grey: #f2f3f4;
$white: #ffffff;
$text-grey: #444444;
$head-grey: #111111;
$extra-grey: #222222;
$line-grey: #cdcdcd;
$logo-grey: #666666;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1440px;
