$bg-green: #68b738;
$button-green: #5eaa2f;
$bg-grey: #f2f2f2;
$contacts-grey: #f2f3f4;
$became-grey: #eaeaea;
$white: #ffffff;
$opacity-white: rgba(255, 255, 255, 0.3);
$text-grey: #444444;
$head-grey: #111111;
$extra-grey: #222222;
$line-grey: #cdcdcd;
$line-error: #ff8282;
$opacity-grey: rgba(205, 205, 205, 0.5);
$logo-grey: #666666;
$stripe-grey: #dcdcdc;
$border-grey: #ededed;
$button-grey: #ebebeb;
$toggle-grey: #bababa;
$opacity-text: rgba(68, 68, 68, 0.3);
$light-shadow: rgba(0, 0, 0, 0.15);
$middle-shadow: rgba(0, 0, 0, 0.25);
$big-shadow: rgba(0, 0, 0, 0.3);
$mobile-width: 320px;
$mobile-width-only: 767px;
$tablet-width: 768px;
$desktop-width: 1300px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
